.default {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: var(--delay);
}

.primary {
  background-color: var(--theme-color2);
  color: white;
}

.primary:hover {
  background-color: var(--theme-color2-accent);
}

.secondary {
  border: 2px solid var(--theme-color2);
  color: var(--theme-color2);
  background-color: var(--theme-color3);
}

.secondary:hover {
  background-color: var(--theme-color3-accent);
}

.normal {
  height: 45px;
  min-width: 140px;
  font-size: 22px;
}

.big {
  height: 55px;
  min-width: 180px;
  font-size: 25px;
}
